form {
  display: grid;
  grid-template-columns: 100px 300px 100px;
  grid-template-rows: 60px 300px 60px;
}
#cardFront,
#cardBack {
  background-color: lightgray;
  height: 300px;
}
#cardFront {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(97, 97, 97);
  padding-left: 15px;
}
#cardBack {
  grid-column: 2/4;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
}
button {
  grid-column: 3/4;
  grid-row: 3/4;
  padding: 7px;
  width: 80px;
  border-radius: 5px;
  margin: 15px;
}
#cardNumberContainer {
  grid-column: 1/3;
  grid-row: 2/3;
}
#cardHolderContainer {
  grid-column: 1/2;
  grid-row: 3/4;
}
#expirationContainer {
  grid-column: 2/3;
  grid-row: 3/4;
}
#blackLine {
  background-color: rgb(57, 57, 57);
  grid-column: 1/4;
  grid-row: 1/2;
  height: 50px;
}
#cvcContainer {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 15px;
}
#cvc {
  width: 50px;
  height: 25px;
}
#expiration {
  width: 37px;
  height: 25px;
}
#cardNum {
  height: 25px;
  width: 335px;
}
#cardHold {
  height: 25px;
  width: 200px;
}
.cardImage {
  padding-left: 40px;
}
