@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #493657;
  --secondary-color: #8783d1;
  --accent1-color: #fbf7f4;
  --accent2-color: #000000;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto Slab";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: var(--heading-font);
  background-color: var(--primary-color);
  color: var(--accent1-color);
  margin: 0;
  padding: 15px;
  margin-bottom: 15px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
img {
  max-width: 100%;
  width: 120px;
  padding: 15px;
}
.search-section {
  display: flex;
  justify-content: center;
}
#search-icon {
  cursor: pointer;
  height: 35px;
  width: 30px;
  display: flex; /* Add this to make the button a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 2px;
}
#search-bar {
  width: 350px;
  height: 30px;
  margin-bottom: 20px;
}
#search-icon img {
  width: 100%; /* Makes the image scale to the button’s width */
  height: 100%; /* Makes the image scale to the button’s height */
  object-fit: contain;
}
header {
  width: 100%;
  margin: 0;
  padding: 0;
}
.artwork-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 5px solid var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.artwork-img {
  width: 100%;
  align-self: center;
}
.content {
  font-family: var(--paragraph-font);
}
h2 {
  color: var(--primary-color);
}
.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  #search-bar {
    width: 500px;
  }
  .artwork-img {
    width: 100%;
    max-width: 500px;
  }

  .art-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 85px;
  }
  .artwork-list {
    width: 100%;
  }
}

@media screen and (min-width: 950px) {
  .hide {
    display: block;
  }
  .art-cards {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }
  #search-bar {
    width: 700px;
  }
}
