@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", "sans-serif";
}
html,
body {
  margin: 0;
  padding: 0;
  height: 0;
}
button {
  all: unset;
  cursor: pointer;
}
body {
  font-family: var(--primary-font);
  font-size: 1.5em;
}
a:link,
a:visited {
  color: var(--accent-color);
}
a {
  display: block;
  text-align: center;
  padding: 2px;
}
header,
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 15px 10px;
}
main {
  background-color: rgb(233, 231, 231);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
img {
  max-width: 100%;
  object-fit: cover;
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 15px #333;
}
button {
  color: var(--text-light);
  font: var(--primary-font);
  padding: 10px;
  border: none;
  background: none;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 2.5em;
  margin: 0;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
}
.hide {
  display: none;
}
div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
}
div > img {
  grid-row: 2/3;
  grid-column: 1/5;
  padding: 0%;
  max-height: 100%;
}
div > .close-viewer {
  color: var(--text-light);
  grid-row: 1/1;
  grid-column: 4/4;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  a {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menubutton {
    display: none;
  }
  a {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
  }
  div {
    max-width: 88%;
    max-height: 76%;
    padding: 50px;
    margin: auto;
  }
}
