.content {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
h1 {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 55px;
}
h2 {
    text-align: center;
    color: #006EB6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid;
}

.logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
body {
    border-style: solid;
    margin: 50px;
}
main {
    padding-top: 20px;
    padding-left: 170px;
    max-width: 600px;
    font-size: 20px;
    align-items: center;
}
li {
    padding-bottom: 30px;
}
.dark {
    background-color: #333;
    color: white;
}
.dark h2 {
    color: rgb(160, 212, 237);
}