:root {
  --primary-color: #f08842;
  --primary-color-dark: #e57830;
  --primary-color-light: #ff944c;
  --secondary-color: #ffd0a8;
  --font-color-dark: #1f1f1f;
  --font-color-light: #fff9f9;
}
body {
  margin: 0 auto;
  max-width: 2500px;
  font-family: "Arial", "sans-serif";
}
header {
  background-color: var(--primary-color);
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  position-anchor: sticky;
  letter-spacing: 1px;
}
h1 {
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color-dark);
  text-decoration: none;
  font-size: 20px;
}
nav a {
  padding-right: 55px;
  text-decoration: none;
  color: var(--font-color-dark);
}
main {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}
.card1 {
  border-radius: 30px;
  background-color: var(--secondary-color);
  margin: 0 auto;
  max-width: 100%;
  min-width: 350px;
  height: 650px;
}
.card2 {
  border-radius: 30px;
  background-color: var(--secondary-color);
  margin: 0 auto;
  max-width: 100%;
  min-width: 350px;
  height: 650px;
}
.cards h2 {
  padding: 10px;
}
#card1img {
  max-width: 250px;
  max-height: 925px;
}
#card2img {
  max-width: 250px;
  max-height: 925px;
}
.bookinfo1 {
  text-align: center;
  padding-top: 130px;
}
.bookinfo2 {
  text-align: center;
  padding-top: 20px;
}
p {
  padding: 10px;
}
.skiptocontent {
  /* set the element to absolute positioning */
  position: absolute;

  /* move it off screen */
  top: -40px;
  /* Make sure it will be on the left edge of the screen */
  text-align: left;
  /* Change the background and color to something that stands out */
  color: var(--secondary-color);
}
.skiptocontent a:focus pseudo-class {
  /* Move it back on when focused */
  top: 0;
}

/* @media screen and (min-width: 700px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 350px;
  }
} */
