body {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
}
header {
    background-color: rgb(94, 124, 124);
    grid-column: 1/4;
}
nav {
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-content {
    padding-bottom: 80px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-content-title {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0 auto;
}
.main-content {
    background-color: rgb(250, 212, 165);
    grid-row: 2/3;
    grid-column: 1/3;
    padding-bottom: 400px;
    padding-right: 800px;
}
.aside-content {
    background-color: rgb(182, 178, 178);
    grid-column: 3/4;
    grid-row: 2/3;
    padding-right: 300px;
}
footer {
    background-color: rgb(94, 124, 124);
    grid-column: 1/4;
    grid-row: 3/4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aside {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 20px;
}.footer-content {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 60px;
}